extends layout

block scripts
  script(src="/javascripts/rainbow.js", type="module")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js",
  integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==",
  crossorigin="anonymous", referrerpolicy="no-referrer")

block content

  container
    div#top-left
      h1="Rainbow"
      p Logarithmic chart
    div#top-right
      h1 46.5
      p USD/mBTC







  canvas#myChart
