extends layout

block scripts
  script(src="/javascripts/rainbow.js", type="module")

  script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js",
    integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==",
    crossorigin="anonymous" referrerpolicy="no-referrer")
  script(src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4")

block content

  container
    div#top-left
      h1="Rainbow"
      p Bitcoin chart
    div#top-right
      h1#current-price
      p#currency USD/mBTC

  canvas#myChart

  container
    div#bottom-left
    div#bottom-right
      p 2021 | ❤ | Created by Stin

